.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

@media (min-width: 600px) {
  .App-logo {
    height: 80px;
  }
  
  .App-title {
    font-size: 1.5em;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
